$whiteColor : #fff !important;
$grayColor : #B3B3B3 !important;
$blueColor: #0174BE !important;
$redColor: #DF0B1C !important;
$blackColor:#020E31 !important;
$yellowColor:#FFA41B !important;
$purpleColor:#525FE1 !important;
$pendingColor:#F86F03 !important;
$blueDiffColor:#087FDD !important;
$newColor: #B3B3B3;
.btn-blue {
    background-color: $blueColor;
}

.btn-primary {
    background-color: $blueColor;
    color: white;
}
