* {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body{
  max-width: 100%;
  overflow-x: hidden;
}