@import '../../variables';

.board {
    width: 100%;
    position: relative;
  }
  
  .main__board {
    width: 80%;
    background: url('../../Assets/Images/team_images.jpeg');
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    // color: white;
    position: absolute;
    top:50px;
    right: 0;
    padding: 20px;
  }
  
  .main__board2 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  
    form {
      width: 500px;
      // margin: 0 auto;
  
   
  
    }
  }
    
    @media (min-width: 992px) {
      .sidebar {
        height: unset!important;
      }
    }
    
    /* Sidebar */
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 58px 0 0;
      /* Height of navbar */
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
      width: 20%;
      /* z-index: 600; */
    }
    
    .sidebar.show {
      height: 100vh;
    }
    
    @media (max-width: 992px) {
      .sidebar {
        top: 20px;
        width: 100%;
        position: absolute;
        z-index: 2;
        left: 0;
        margin-top: 35px;
      }
      .main__board {
        width: 100%;
      }
    }
    
    .sidebar .active {
      border-radius: 5px;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    
    .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: 0.5rem;
      overflow-x: hidden;
      overflow-y: auto;
      /* Scrollable contents if viewport is shorter than content. */
    }