@import '../../variables';

.home_layout {
    position: relative;
    top: 30px;
    display: flex;
    gap:50px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../../Assets/Images/company2.jpeg') center no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color:rgba(0,0,0,0.7);
  

    .home_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        padding: 60px 50px 0px 50px;
        gap: 30px;
        text-align: center;

        #secure {
          color:$blueColor;
        }
        h1 {
          font-size: 3rem;
          color: white;
          margin: 0 auto;
        }

        p{
          font-size: 1.5rem;
          color: white;
        }

        .btns {
          margin: 0 auto;


          #getStartedBtn {
            color: $whiteColor;
            border: none;
            font-size: 1.2rem;
            padding: 0.75rem 1.5rem;
            background: $blueColor;
            border-radius: 0.3125rem;
            cursor: pointer;
          }
        }

       
    }

  

}

.home_image {
  width: 50%;
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

@media (max-width:768px){
  .home_layout{
    flex-direction: column;
     top: 70px;

    .home_content{
      width: 100%;
      // align-items: center;
      // justify-content: center;
      gap: 20px;
      padding: 30px;

      .btns{
        justify-content: flex-start;
        // position: relative;
        // left: -12%;
        width: 100%;

        #getStartedBtn{
          font-size: .9rem;
        }

      }

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .home_image{
      display: none;
    }

    #home_typer {
      display: grid;

    }
  }


}